<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Gameshelf" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  </head>

  <body>
    <div class = 'row main-content'>
      <div class = 'logo' >
        <%= image_tag("Gameshelf.png", alt: "Gameshelf Logo")%>
      </div>

      <ul class='menu'>
        <li> <%= link_to 'My Game List', usersgames_path %> </li>
        <li> <a href='/pages/privacy'>Privacy Policy</a></li>
        <% if user_signed_in? %>
        <li> <%= link_to 'Edit Account', edit_user_registration_path %> </li>
        <li> <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete  %> </li>
        <% else %>
        <li> <%= link_to 'Sign Up', new_user_registration_path %> </li>
          <% end %>
      </ul>

      <div class='notice'>
        <div class='flash'>
          <%= notice %>
        </div>
      </div>

      <div class='alert'>
        <div class='flash'>
          <%= alert %>
        </div>
      </div>

      <div class='columns'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
